.container{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mains{
    height: 96vh;
    width: 72vw;
    /* border: 2px solid; */
    margin-left: -100px;
}

.side{
    /* height: 96vh; */
    /* width: 32vw; */
    /* border: 2px solid; */
    /* margin-left: 10px; */
    margin-right: -80px;
}